[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pika = "*"
pillow = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
black = "*"
mypy = "*"
ipython = "*"
pyre-check = "*"

[requires]
python_version = "3.9"
