[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pika = "*"
pillow = "*"
bson = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
black = "*"
mypy = "*"
ipython = "*"
pyre-check = { version = "*", sys_platform="== 'linux'" }
ipdb = "*"
pytype = { version = "*", sys_platform="== 'linux'" }

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
